

<!-- start blog area -->
<section class="blog p-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="item" data-img="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" style="background: url('../../Shared/css/assets/images/home4/blog/bg.jpg')">
                    <div class="image">
                        <a href="blog-standard.html">
                            <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Blog Image">
                        </a>
                    </div>
                    <div class="text-part">
                        <a href="category.html"><p>health</p></a>
                        <a href="blog-left.html"><h4>Covid-19 Medical Supply To And I Need It More</h4></a>
                        <ul class="d-flex">
                            <li><a href="author.html"><p>spraya</p></a></li>
                            <li><a href="#!"><p>july 20, 2021</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-sm-30">
                <div class="item" data-img="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg">
                    <div class="image">
                        <a href="blog-standard.html">
                            <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Blog Image">
                        </a>
                    </div>
                    <div class="text-part">
                        <a href="category.html"><p>medical</p></a>
                        <a href="blog-left.html"><h4>Medical Equipment Good To and I Need It More</h4></a>
                        <ul class="d-flex">
                            <li><a href="author.html"><p>spraya</p></a></li>
                            <li><a href="#!"><p>july 20, 2021</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-30">
                <div class="item" data-img="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg">
                    <div class="image">
                        <a href="blog-standard.html">
                            <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Blog Image">
                        </a>
                    </div>
                    <div class="text-part">
                        <a href="category.html"><p>clinic</p></a>
                        <a href="blog-left.html"><h4>Covid-19 Medical Supply To And I Need It More</h4></a>
                        <ul class="d-flex">
                            <li><a href="author.html"><p>spraya</p></a></li>
                            <li><a href="#!"><p>july 20, 2021</p></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end blog area -->


