   <!-- start main content area -->
   <section class="main pb-80">
    <div class="container">
        <div class="row">
            <!-- start left-content area -->
            <div class="col-lg-8 order-lg-0 order-1">
                <div class="content left-content">
                    <!-- all-item -->
                    <div class="all-item">
                        <div class="big-item text-center">
                            <div class="image">
                                <a href="blog-simple.html">
                                    <img src="assets/images/home4/news/news1.jpg" alt="News Image">
                                </a>
                            </div>
                            <div class="text-part">
                                <a href="category.html"><h5>medical</h5></a>
                                <a href="blog-left.html"><h2>We can give you the Smile you Eve Always Wanted</h2></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmu tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>
                        </div>
                        <div class="big-item text-center mt-40">
                            <div class="image">
                                <a href="blog-simple.html">
                                    <img src="assets/images/home4/news/news2.jpg" alt="News Image">
                                </a>
                            </div>
                            <div class="text-part">
                                <a href="category.html"><h5>health</h5></a>
                                <a href="blog-left.html"><h2>Healthcare Clinic the Smile you More Experience</h2></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmu tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>
                        </div>
                        <div class="big-item text-center mt-40">
                            <div class="image">
                                <a href="blog-simple.html">
                                    <img src="assets/images/home4/news/news3.jpg" alt="News Image">
                                </a>
                            </div>
                            <div class="text-part">
                                <a href="category.html"><h5>clinic</h5></a>
                                <a href="blog-left.html"><h2> Better Health Care For Everyone​ Eve Always Wanted</h2></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmu tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>
                        </div>
                    </div>
                    <!-- latest news -->
                    <div class="latest pt-40">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="title">
                                    <h3>medical</h3>
                                </div>
                                <div class="all-item">
                                    <ul class="small-item">
                                        <li class="media align-items-center">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img1.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>In search of coronavirus antibodies conduct</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                        <li class="media align-items-center mt-20">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img2.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>Conducting a CoVID-19 seroprevalence study</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                        <li class="media align-items-center mt-20">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img3.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>WHO, national regulators and vaccine manufacturers</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mt-sm-30">
                                <div class="title">
                                    <h3>health</h3>
                                </div>
                                <div class="all-item">
                                    <ul class="small-item">
                                        <li class="media align-items-center">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img4.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>South-East Asia Region discuss about vaccines</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                        <li class="media align-items-center mt-20">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img5.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>COVAX Announces deals for COVID-19 vaccine</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                        <li class="media align-items-center mt-20">
                                            <a href="blog-left.html"><img src="assets/images/home4/latest/img6.jpg" alt="Latest News"></a>
                                            <div class="media-body">
                                                <a href="blog-right.html"><h5>Conducting a CoVID-19 seroprevalence study</h5></a>
                                                <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end left-content area -->

            <!-- start right-content area -->
            <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0 order-lg-1 order-0">
                <div class="content right-content">
                    <!-- topic 1 -->
                    <div class="topic about text-center">
                        <div class="image">
                            <img src="assets/images/home4/about/person.png" alt="Person Image">
                        </div>
                        <a href="author.html">
                            <h3>Dr. Mark Thomson</h3>
                        </a>
                        <p>Dr. Mark Thomson, a Florida native, who left career in corporate management six years ago to embark on summer of soul searching that would</p>
                        <div class="sign">
                            <img src="assets/images/home4/about/signature.png" alt="Signature">
                        </div>
                    </div>
                    <!-- topic 2 -->
                    <div class="topic latest mt-30">
                        <div class="title">
                            <h3>latest news</h3>
                        </div>
                        <div class="all-item">
                            <ul class="small-item">
                                <li class="media align-items-center">
                                    <a href="blog-left.html"><img src="assets/images/home4/latest/img2.jpg" alt="Latest News"></a>
                                    <div class="media-body">
                                        <a href="blog-right.html"><h5>South-East Asia Region discuss about vaccines</h5></a>
                                        <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                    </div>
                                </li>
                                <li class="media align-items-center mt-20">
                                    <a href="blog-left.html"><img src="assets/images/home4/latest/img3.jpg" alt="Latest News"></a>
                                    <div class="media-body">
                                        <a href="blog-right.html"><h5>COVAX Announces deals for COVID-19</h5></a>
                                        <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                    </div>
                                </li>
                                <li class="media align-items-center mt-20">
                                    <a href="blog-left.html"><img src="assets/images/home4/latest/img6.jpg" alt="Latest News"></a>
                                    <div class="media-body">
                                        <a href="blog-right.html"><h5>Conducting a CoVID-19 seroprevalence study</h5></a>
                                        <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                    </div>
                                </li>
                                <li class="media align-items-center mt-20">
                                    <a href="blog-left.html"><img src="assets/images/home4/latest/img4.jpg" alt="Latest News"></a>
                                    <div class="media-body">
                                        <a href="blog-right.html"><h5>South-East Asia Region discuss about vaccines</h5></a>
                                        <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- topic 3 -->
                    <div class="topic category mt-30">
                        <div class="title">
                            <h3>categories</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>hospital</p>
                                    <p>(07)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>clinic</p>
                                    <p>(17)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>health</p>
                                    <p>(07)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>medical</p>
                                    <p>(12)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>help & support</p>
                                    <p>(20)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>covid-19</p>
                                    <p>(20)</p>
                                </a>
                            </li>
                            <li>
                                <a href="category.html" class="d-flex justify-content-between">
                                    <p>disease</p>
                                    <p>(20)</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- topic 4 -->
                    <div class="topic ad mt-30">
                        <a href="#!">
                            <img src="assets/images/home4/ad/ad.png" alt="Advertise">
                        </a>
                    </div>
                </div>
            </div>
            <!-- end right-content area -->
        </div>
    </div>
</section>
<!-- end main content area -->
