
<!-- <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top" id="navbarCompleta" (scroll)="onWindowScroll();">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PapoDeCaminhada</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['ConteutoPost']">Investimento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Esport</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">AutoConhecimento</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
</nav> -->

   <!-- start top-tp button area -->
<button class="top-btn">
  <i class="flaticon-up-arrow"></i>
</button>
<header>
  <!-- start top-menu area -->
  <section class="top-menu">
      <div class="container">
          <div class="row align-items-center  position-static">
              <!-- left-part -->
              <div class="col-lg-4 col-md-4">
                  <div class="left-part">
                      <ul class="d-flex">
                          <li><a href="#!"><i class="flaticon-facebook-2"></i></a></li>
                          <li><a href="#!" class="active"><i class="flaticon-twitter-1"></i></a></li>
                          <li><a href="#!"><i class="flaticon-skype"></i></a></li>
                          <li><a href="#!"><i class="flaticon-instagram-2"></i></a></li>
                      </ul>
                  </div>
              </div>

              <!-- logo-part -->
              <div class="col-lg-4 col-md-4 col-sm-6 text-center mid-part">
                  <div class="logo">
                      <a href="index.html"><img [src]="'../../Shared/css/assets/images/home4/logo.png'" alt="Logo"></a>
                  </div>
              </div>
              <!-- right-part -->
              <div class="col-lg-4 col-md-4 col-sm-6 position-static">
                  <div class="right-part position-static">
                      <ul class="d-flex justify-content-end position-static align-items-center">
                          <li>
                              <a href="cart.html" class="cart"><i class="flaticon-shopping-cart"></i><span>04</span></a>
                          </li>
                          <li><button class="sidemenu-btn"><i class="flaticon-menu"></i></button></li>
                          <li><button data-toggle="modal" data-target="#exampleModal"><i class="flaticon-search"></i></button></li>
                      </ul>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">
                                          search here
                                      </h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true"><i class="flaticon-plus"></i></span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form action="#">
                                          <input type="search" placeholder="search something.." class="input-search" />
                                          <button type="submit">
                                              <i class="flaticon-search"></i>
                                          </button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- end top-menu area -->

  <!-- start menubar area -->
  <section class="menubar">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-12">
                  <nav class="navbar p-0">
                      <div class="logo">
                          <a href="index.html"><img src="../../Shared/css/assets/images/home4/logo.png" alt="Logo"></a>
                      </div>
                      <div class="header-menu m-auto position-static">
                          <ul class="menu">
                              <li class="active">
                                  <a href="#!">home</a>
                                  <ul>
                                      <li><a href="index.html">home 1</a></li>
                                      <li><a href="index2.html">home 2</a></li>
                                      <li><a href="index3.html">home 3</a></li>
                                      <li class="active"><a href="index4.html">home 4</a></li>
                                      <li><a href="index5.html">home 5</a></li>
                                  </ul>
                              </li>
                              <li><a href="about.html">about</a></li>
                              <li><a href="lifestyle.html">lifestyle</a></li>
                              <li><a href="#!">page</a>
                                  <ul>
                                      <li><a href="author.html">author</a></li>
                                      <li><a href="about.html">about</a></li>
                                      <li><a href="account.html">account</a></li>
                                      <li><a href="blog-grid.html">blog grid</a></li>
                                      <li><a href="blog-list.html">blog list</a></li>
                                      <li><a href="blog-standard.html">blog standard</a></li>
                                      <li><a href="blog-left.html">blog left</a></li>
                                      <li><a href="blog-right.html">blog right</a></li>
                                      <li><a href="blog-simple.html">blog simple</a></li>
                                      <li><a href="blog-video.html">blog video</a></li>
                                      <li><a href="lifestyle.html">life style</a></li>
                                      <li><a href="category.html">category</a></li>
                                      <li><a href="contact.html">contact</a></li>
                                      <li><a href="404.html">404 error</a></li>
                                  </ul>
                              </li>
                              <li><a href="#!">shop</a>
                                  <ul>
                                      <li><a href="shop-grid.html">shop grid</a></li>
                                      <li><a href="shop-list.html">shop list</a></li>
                                      <li><a href="shop-details.html">shop details</a></li>
                                      <li><a href="cart.html">cart</a></li>
                                      <li><a href="checkout.html">checkout</a></li>
                                      <li><a href="wishlist.html">wishlist</a></li>
                                  </ul>
                              </li>
                              <li><a href="contact.html">contact</a></li>
                          </ul>
                      </div>
                      <div class="right-part">
                          <ul class="d-flex justify-content-end">
                              <li>
                                  <a href="cart.html" class="cart"><i class="flaticon-shopping-cart"></i><span>04</span></a>
                              </li>
                              <li><button class="sidemenu-btn"><i class="flaticon-menu"></i></button></li>
                              <li><button data-toggle="modal" data-target="#exampleModal1"><i class="flaticon-search"></i></button></li>
                          </ul>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel1">
                                              search here
                                          </h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <form action="#">
                                              <input type="search" placeholder="search something.." class="input-search" />
                                              <button type="submit">
                                                  <i class="flaticon-search"></i>
                                              </button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </section>
  <!-- end menubar area -->
</header>