<section class="top-news">
    <div class="container">
        <div class="row">
            <!-- start big-item area -->
            <div class="col-lg-8">
                <div class="center-item big-item">
                    <div class="image">
                        <a href="blog-standard.html">
                            <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Big Image">
                        </a>
                    </div>
                    <div class="text-part text-center">
                        <a href="blog-simple.html">
                            <h2>How to Protect Yourself Against COVID-19?</h2>
                        </a>
                        <ul class="d-flex justify-content-center align-items-center">
                            <li>
                                <a href="author.html" class="d-flex align-items-center">
                                    <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Author Image">
                                    <p>jhon</p>
                                </a>
                            </li>
                            <li>
                                <a href="#!"><p>october 18, 2021</p></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end big-item area -->
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6 mt-md-30">
                        <div class="center-item">
                            <div class="image">
                                <a href="blog-standard.html">
                                    <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Big Image">
                                </a>
                            </div>
                            <div class="text-part text-center">
                                <a href="blog-simple.html">
                                    <h4>In search of COVID-19 Antibodies Conduct</h4>
                                </a>
                                <a href="author.html"><p>by Lium Hudson</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 mt-30">
                        <div class="center-item">
                            <div class="image">
                                <a href="blog-standard.html">
                                    <img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Big Image">
                                </a>
                            </div>
                            <div class="text-part text-center">
                                <a href="blog-simple.html">
                                    <h4>Elimination of Measles from Bangladesh</h4>
                                </a>
                                <a href="author.html"><p>by Lium Hudson</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>