
  <!--==== roboto font css ====-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!--==== poppins font css ====-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!--==== raleway font css ====-->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!--==== heebo font css ====-->
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap" rel="stylesheet">



<body class="home4">
    <app-header></app-header>
    <router-outlet></router-outlet> 
    <app-footers></app-footers>

</body>


