    <!-- start footer area -->
    <footer data-img="" style=" background-color: black !important; ">
      <!-- start footer-top area -->
      <section class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <a href="index.html">
                          <img src="assets/images/home4/footer-logo.png" alt="Logo">
                      </a>
                      <div class="about">
                          <p>Lorem ipsum dolor sit a  adipisicing elit, sed do eiusmod tempor</p>
                      </div>
                      <ul class="address">
                          <li class="d-flex align-items-center">
                              <i class="flaticon-placeholder"></i>
                              <p>7C New York</p>
                          </li>
                          <li class="d-flex align-items-center">
                              <i class="flaticon-phone"></i>
                              <p>(800) 123 456 789</p>
                          </li>
                          <li class="d-flex align-items-center">
                              <i class="flaticon-gmail"></i>
                              <a href="#!"><p>example@mail.com</p></a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 mt-sm-30">
                      <div class="footer-title">
                          <h3>sports</h3>
                      </div>
                      <ul class="link">
                          <li><a href="#!"><p>football</p></a></li>
                          <li><a href="#!"><p>cricket</p></a></li>
                          <li><a href="#!"><p>baseball</p></a></li>
                          <li><a href="#!"><p>hocky</p></a></li>
                          <li><a href="#!"><p>chees</p></a></li>
                          <li><a href="#!"><p>character</p></a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 mt-md-30">
                      <div class="footer-title">
                          <h3>technology</h3>
                      </div>
                      <ul class="link">
                          <li><a href="#!"><p>web development</p></a></li>
                          <li><a href="#!"><p>Ar/Vr Technology</p></a></li>
                          <li><a href="#!"><p>Java Script</p></a></li>
                          <li><a href="#!"><p>Real Estate Law</p></a></li>
                          <li><a href="#!"><p>Robotics</p></a></li>
                          <li><a href="#!"><p>MaTix Tax Invation</p></a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 mt-md-30">
                      <div class="footer-title">
                          <h3>subscribe</h3>
                      </div>
                      <p>Lorem ipsum dolor si consecte adipisicing elit, sed eiusmot incididunt ut labore et</p>
                      <form action="#" class="d-flex">
                          <input type="email" placeholder="type your email" class="inputs">
                          <button type="submit"><i class="flaticon-send"></i></button>
                      </form>
                      <ul class="social d-flex">
                          <li><a href="#!"><i class="flaticon-facebook-1"></i></a></li>
                          <li><a href="#!"><i class="flaticon-twitter"></i></a></li>
                          <li><a href="#!"><i class="flaticon-skype-1"></i></a></li>
                          <li><a href="#!"><i class="flaticon-instagram-2"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!-- end footer-top area -->

      <!-- start footer-bottom area -->
      <section class="footer-bottom">
          <div class="container">
              <div class="footer-border">
                  <div class="row">
                      <div class="col-lg-5 col-md-6">
                          <div class="copyright">
                              <p>Copyright 2021 Al Right Reserved</p>
                          </div>
                          
                      </div>
                      <div class="col-lg-7 col-md-6">
                          <ul class="footer-menu d-flex justify-content-end">
                              <li><a href="index.html"><p>home</p></a></li>
                              <li><a href="about.html"><p>about</p></a></li>
                              <li><a href="lifestyle.html"><p>lifestyle</p></a></li>
                              <li><a href="contact.html"><p>contact</p></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- end footer-bottom area -->
  </footer>
  <!-- end footer area -->