 <!-- start side-menu area -->
 <div class="side-menu-overlay"></div>
 <div class="side-menu">
     <!-- close button -->
     <button class="sidemenu-close">
         <i class="flaticon-plus"></i>
     </button>
     <!-- topic 1 -->
     <div class="topic category">
         <div class="title">
             <h3>categories</h3>
         </div>
         <ul>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>hospital</p>
                     <p>(07)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>clinic</p>
                     <p>(17)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>health</p>
                     <p>(07)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>medical</p>
                     <p>(12)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>help & support</p>
                     <p>(20)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>covid-19</p>
                     <p>(20)</p>
                 </a>
             </li>
             <li>
                 <a href="category.html" class="d-flex justify-content-between">
                     <p>disease</p>
                     <p>(20)</p>
                 </a>
             </li>
         </ul>
     </div>
     <!-- topic 2 -->
     <div class="topic latest mt-30">
         <div class="title">
             <h3>latest news</h3>
         </div>
         <div class="all-item">
             <ul class="small-item">
                 <li class="media align-items-center">
                     <a href="blog-right.html"><img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Latest News"></a>
                     <div class="media-body">
                         <a href="blog-left.html"><h5>Asia Region discuss about COVID-19</h5></a>
                         <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                     </div>
                 </li>
                 <li class="media align-items-center mt-20">
                     <a href="blog-right.html"><img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Latest News"></a>
                     <div class="media-body">
                         <a href="blog-left.html"><h5>COVAX Announces deals for COVID-19</h5></a>
                         <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                     </div>
                 </li>
                 <li class="media align-items-center mt-20">
                     <a href="blog-right.html"><img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Latest News"></a>
                     <div class="media-body">
                         <a href="blog-left.html"><h5>Conduct a CoVID-19 seropre study</h5></a>
                         <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                     </div>
                 </li>
                 <li class="media align-items-center mt-20">
                     <a href="blog-right.html"><img src="https://lmimirror3pvr.azureedge.net/static/media/18461/3c152e9a-731d-45db-a205-5da7abe818b1/training-load-960x540.jpg" alt="Latest News"></a>
                     <div class="media-body">
                         <a href="blog-left.html"><h5>Asia Region discuss about COVID-19</h5></a>
                         <a href="#!"><p><i class="flaticon-calendar"></i>june 24, 2021</p></a>
                     </div>
                 </li>
             </ul>
         </div>
     </div>
     <!-- topic 3 -->
     <div class="topic ad mt-30">
         <a href="#!">
             <img src="https://img-19.commentcamarche.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg" alt="Advertise">
         </a>
     </div>
 </div>
 <!-- end side-menu area -->
